PORT=3000
DATABASE_URL=postgresql://git_web_review:git_web_review@localhost:5432/git_web_review
REDIS_URL=redis://localhost:6379
GOOGLE_APPLICATION_CREDENTIALS=./firebase-service-account.json
ADMIN=admin@company.tld
FRONTEND_ORIGIN=http://localhost:5173